{% extends 'base.html' %}

{% block title %} catering{% endblock title %}

<style>
 
</style>
{% block body %}
 
<img src="https://source.unsplash.com/1600x400/?food" class="d-block w-100" alt="...">
 <div class="container-fluid my-3">

 

<P>  
 The earliest account of major services being catered in the United States is a 1778 ball in Philadelphia catered by Caesar Cranshell to celebrate the departure of British General William Howe.Catering business began to form around 1820, centering in Philadelphia. Catering became a respectable and profitable business. The early catering industry was disproportionately founded by African-Americans.

The industry began to professionalize under the reigns of Robert Bogle who is recognized as "the originator of catering." By 1840, the second generation of Philadelphia black caterers formed, who began to combine their catering businesses with restaurants they owned. Common usage of the word "caterer" came about in the 1880s at which point local directories began listing numerous caterers.White businessmen eventually moved into the industry and by the 1930s, the black businesses had virtually disappeared.

In the 1930s, the Soviet Union, creating more simple menus, began developing state public catering establishments as part of its collectivization policies. A rationing system was implemented during World War II, and people became used to public catering. After the Second World War, many businessmen embraced catering as an alternative way of staying in business after the war. By the 1960s, the home-made food was overtaken by eating in public catering establishments.

</P>
</div>
{% endblock body %}