{% extends 'base.html' %}

{% block title %} catering{% endblock title %}

<style>
 
</style>
{% block body %}
 
<img src="https://source.unsplash.com/1600x400/?courier" class="d-block w-100" alt="...">
 <div class="container-fluid my-3">

 

<P>  
  Couriers are distinguished from ordinary mail services by features such as speed, security, tracking, signature, specialization and individualization of express services, and swift delivery times, which are optional for most everyday mail services. As a premium service, couriers are usually more expensive than standard mail services, and thei
  is normally limited to packages where one or more of these features are considered important enough to warrant the cost.
In cities, there are often bicycle couriers or motorcycle couriers but for consignments requiring delivery over greater distance networks, this may often include trucks, railroads and aircraft.

Many companies which operate under a just-in-time or "JIT" inventory method often use on-board couriers (OBCs). On-board couriers are individuals who can travel at a moment's notice anywhere in the world, usually via commercial airlines. While this type of service is the second costliest—general aviation charters are far more expensive—companies analyze the cost of service to engage an on-board courier versus the "cost" the company will realize should the product not arrive by a specified time (an assembly line stopping, untimely court filing
, lost sales from product or components missing a delivery deadline, loss of life from a delayed organ transplant).
</P>
</div>
{% endblock body %}