{% extends 'base.html' %}

{% block title %}  ROSYBLUE DESTINATION  {% endblock title %}


{% block body %}
{% comment %} <img src="https://source.unsplash.com/1600x400/?DESTINATION" class="d-block w-100" alt="..."> {% endcomment %}

{% comment %} <br> {% endcomment %}

<h2>
<b>
Destinations :
</b>
</h2>


  {% comment %} <div class="card" style="width: 18rem;"> {% endcomment %}
  <img src="https://source.unsplash.com/1600x400/?london" class="d-block w-100" alt="...">

  <div class="card-body">
    <h5 class="card-title">LONDON</h5>
    <p class="card-text">london is a beautiful place to visit</p>
    <a href="https://en.wikipedia.org/wiki/London"  target="_blank"  class="btn btn-primary">Go somewhere</a>
  </div>
{% comment %} </div> {% endcomment %}

  {% comment %} <div class="card" style="width: 18rem;"> {% endcomment %}
  <img src="https://source.unsplash.com/1600x400/?MARINEDRIVE,gate way of india" class="d-block w-100" alt="...">

  <div class="card-body">
    <h5 class="card-title">MUMBAI</h5>
    <p class="card-text">MUMBAI is a beautiful place to visit in GANESH FESTIVAL</p>
    <a href="https://en.wikipedia.org/wiki/mumbai"  target="_blank" class="btn btn-primary">Go somewhere</a>
  </div>
{% comment %} </div> {% endcomment %}

{% comment %} <div class="card" style="width: 18rem;"> {% endcomment %}
  <img src="https://source.unsplash.com/1600x400/?GOA" class="d-block w-100" alt="...">

  <div class="card-body">
    <h5 class="card-title">GOA</h5>
    <p class="card-text">GOA is a beautiful place to visit in NEW YRS</p>
    <a href="https://en.wikipedia.org/wiki/goa"  target="_blank" class="btn btn-primary">Go somewhere</a>
  </div>
{% comment %} </div> {% endcomment %}
{% comment %} <div class="card" style="width: 18rem;"> {% endcomment %}
  <img src="https://source.unsplash.com/1600x400/?NEWZELAND" class="d-block w-100" alt="...">

  <div class="card-body">
    <h5 class="card-title">NWZ</h5>
    <p class="card-text">NWZis a beautiful place to visit in SNOW</p>
    <a href="https://en.wikipedia.org/wiki/newzeland"  target="_blank" class="btn btn-primary">Go somewhere</a>
  </div>
{% comment %} </div> {% endcomment %}
{% comment %} <div class="card" style="width: 18rem;"> {% endcomment %}
  <img src="https://source.unsplash.com/1600x400/?AMERICA" class="d-block w-100" alt="...">

  <div class="card-body">
    <h5 class="card-title">AMERICA</h5>
    <p class="card-text">AMERICA is a beautiful place to visit in WEINTER</p>
    <a href="https://en.wikipedia.org/wiki/america"  target="_blank" class="btn btn-primary">Go somewhere</a>
  </div>
{% comment %} </div> {% endcomment %}
<br>
{% comment %} <div class="card" style="width: 18rem;"> {% endcomment %}
  <img src="https://source.unsplash.com/1600x400/?PUNE" class="d-block w-100" alt="...">

  
    <h5 class="card-title">PUNE</h5>
    <p class="card-text">PUNE is a beautiful place to visit in RAINY</p>
    <a href="https://en.wikipedia.org/wiki/pune"  target="_blank" class="btn btn-primary">Go somewhere</a>
   
{% comment %} </div> {% endcomment %}
{% endblock body %}