{% extends 'base.html' %}

{% block title %} catering{% endblock title %}

<style>
 
</style>
{% block body %}
 
<img src="https://source.unsplash.com/1600x400/?doctor" class="d-block w-100" alt="...">
 <div class="container-fluid my-3">

 

<P>  
Doctor is an academic title that originates from the Latin word of the same spelling and meaning.  The word is originally an agentive noun of the Latin verb docēre [dɔˈkeːrɛ] 'to teach'. It has been used as an academic title in Europe since the 13th century, when the first doctorates were awarded at the University of Bologna and the University of Paris.

Having become established in European universities, this usage spread around the world. Contracted "Dr" or "Dr.", it is used as a designation for a person who has obtained a doctorate (e.g., PhD). In many parts of the world it is also used by medical practitioners, regardless of whether they hold a doctoral-level degree.
The doctorate (Latin: doceō, lit. 'I teach') appeared in medieval Europe as a license to teach (Latin: licentia docendi) at a medieval university.  Its roots can be traced to the early church when the term "doctor" referred to the Apostles, church fathers and other Christian authorities who taught and interpreted the Bible. The right to grant a licentia docendi was originally reserved to the church which required the applicant to pass a test, take an Oath of allegiance and pay a fee. The Third Council of the Lateran of 1179 guaranteed the access – now largely free of charge – of all able applicants, who were, however, still tested for aptitude by the ecclesiastic scholastic.  This right remained a bone of contention between the church authorities and the slowly emancipating universities, but was granted by the pope to the University of Paris in 1213 where it became a universal license to teach (licentia ubiquie docendi).  However, while the licentia  
</P>
</div>
{% endblock body %}