{% extends 'base.html' %}

{% block title %} catering{% endblock title %}

 
{% block body %}
 
<img src="https://source.unsplash.com/1600x400/? cleaning" class="d-block w-100" alt="...">
 <div class="container-fluid my-3">

 

<P>  
Dry cleaning businesses, from the perspective of the customer, are either plants or drop shops.[6] A plant does on-site cleaning.[6] A drop shop receives garments from customers, sends them to a large plant, and then has the cleaned garment returned to the shop for collection by the customer.[6] The turnaround time is longer for a drop shop than for a local plant.[6] However, running a plant requires more work for the business owner.[6] Since 2010, in some markets, web apps have been used to schedule low-cost home delivery for dry cleaning.[6]

This cycle minimized the risk of fire or dangerous fumes created by the cleaning process. At this time, dry cleaning was carried out in two different machines—one for the cleaning process, and the second to remove the solvent from the garments.
</P>
</div>
{% endblock body %}