{% extends 'base.html' %}

{% block title %} SPA {% endblock title %}

 
{% block body %}
 
<img src="https://source.unsplash.com/1600x400/?spa" class="d-block w-100" alt="...">
 <div class="container-fluid my-3">

 

<P>  
 A spa is a location where mineral-rich spring water (and sometimes seawater) is used to give medicinal baths. Spa towns or spa resorts (including hot springs resorts) typically offer various health treatments, which are also known as balneotherapy. The belief in the curative powers of mineral waters goes back to prehistoric times. Such practices have been popular worldwide, but are especially widespread in Europe and Japan. Day spas are also quite popular and offer various personal care treatments.
 Spa therapies have existed since the classical times when taking bath with water was considered as a popular means to treat illnesses.[7] The practice of traveling to hot or cold springs in hopes of effecting a cure of some ailment dates back to prehistoric times. Archaeological investigations near hot springs in France and Czech Republic revealed Bronze Age weapons and offerings. In Great Britain, ancient legend credited early Celtic kings with the discovery of the hot springs in Bath, England.

</P>
</div>
{% endblock body %}